@font-face
{
	font-family: "Roboto";
	src: url("../fuentes/latin.woff2") format("woff2");
}
:root
{
	--fondo-normal: rgb( 245, 245, 245 );
	--fondo-seleccionado: rgb(144, 202, 249);
	--borde-normal: 1px solid rgb( 127, 127, 127 );
	--borde-seleccionado: 1px solid rgb(88, 153, 206);
}
*
{
	font-family: "Roboto";
}
*::selection
{
	background-color: var( --fondo-seleccionado );
}
body
{
	margin: 0px;
}